#sharp2 {
  display: none;
  border:  3px solid black;
  color: white;
  text-align: center;
  text-shadow: 2px black;
}
#java2 {
  display: none;
  border:  3px solid  black;
  color: white;
  text-align: center;
  text-shadow: 2px black;
}
#php2 {
  display: none;
  border:  3px solid  black;
  color: white;
  text-align: center;
  text-shadow: 2px black;
}
#ruby2 {
  display: none;
  border:  3px solid  black;
  color: white;
  text-align: center;
  text-shadow: 2px black;
}
#breakfast2 {
  display: none;
  border:  3px solid  black;
  color: white;
  text-align: center;
  text-shadow: 2px black;
}
.container {
  background-color: grey;
}
button {
  text-align: center;
}
