#sharp2 {
  display: none;
  border:  3px solid black;
  color: white;
  text-align: center;
  text-shadow: 2px black;
}
#java2 {
  display: none;
  border:  3px solid  black;
  color: white;
  text-align: center;
  text-shadow: 2px black;
}
#php2 {
  display: none;
  border:  3px solid  black;
  color: white;
  text-align: center;
  text-shadow: 2px black;
}
#ruby2 {
  display: none;
  border:  3px solid  black;
  color: white;
  text-align: center;
  text-shadow: 2px black;
}
#breakfast2 {
  display: none;
  border:  3px solid  black;
  color: white;
  text-align: center;
  text-shadow: 2px black;
}
<<<<<<< HEAD

.color {
color: blue;
font-weight: bolder;
font-size: 20px;
}
.color:hover {
  text-decoration: underline;
}
.fivedone {
text-decoration: line-through;
}
.container1 {
  margin: auto;
  display: ;
  text-align: center;
  width: 50%
}

.container2 {
  margin: auto;
  display: none;
=======
.container {
  background-color: grey;
}
button {
>>>>>>> gh-pages
  text-align: center;
}
#aboutme {
  display: none;
}
